<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
">
       <bean name="s1" class="org.example.Constructor_injection.Reference.Employe">
              <constructor-arg value="1"/>
              <constructor-arg value="Tanu Saini" />
              <constructor-arg ref="contact" />

       </bean>

       <bean name="contact" class="org.example.Constructor_injection.Reference.Contact">
              <constructor-arg>
                     <list>
                            <value>2380899878</value>
                            <value>2380899878</value>
                     </list>
              </constructor-arg>
       </bean>
</beans>
